{% macro render() %}
{# 定义宏 #}
{% macro commentHead(left="在提问之前，你应该学会", middle="如何提问", link="https://github.com/ryanhanwu/How-To-Ask-Questions-The-Smart-Way/blob/main/README-zh_CN.md", right="") %}
  <hr style="margin:.5rem">
  <span style="margin-left: 1rem;"><i class="ic i-info-circle"></i>{{ left }}<a style="color: var(--primary-color);" href="{{ link }}">{{ middle }}</a>{{ right }}</span>
  <hr style="margin:.5rem">
{% endmacro %}

{%- if page.comment !== false %}
  {%- if theme.twikoo.enable %}
    {{ commentHead() }}
    <div class="wrap" id="tcomments"></div>
  {%- elif theme.valine.enable %}
    {{ commentHead() }}
    <div class="wrap" id="comments"></div>
  {%- endif %}
{%- endif %}
{% endmacro %}
